<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, :size => "30x10" %>
  </div>
  <br>
  <div class="field">
    <%= f.label :tag %>
    <%= f.text_field :tag %>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
