<div class="jumbotron top-graphic">
</div>

<div class="page-header">

  <h2 class="special-h2">Have You <span class="inverse">Seen It?</span></h2>
  <p>If so, let others know by clicking the eyeball next to the interview question</p>

</div>

<% @posts.each do |post| %>

<div class="row">

  <div class="votes">
    <%= post.get_upvotes.size %>
  </div>

  <div class="eyeballs">
    <%= link_to image_tag("eyeball-small.png"), like_post_path(post), method: :put %>
    <!-- also located at http://i.imgur.com/WE61y1y.png?1 -->
  </div> <!-- votes div -->

  <div class ="context">

    <div class="panel panel-default">

      <div class="panel-heading">
        <a href="<%= post.link %>" target="_blank"><%= post.name %></a> <span class="glyphicon glyphicon-link"></span>
      </div>

      <div class="panel-body">

        <p><%= raw post.content %></p>
     
        <span class="tag-pad glyphicon glyphicon-tags"></span>

        <% post.tags.uniq.each do |tag| %>
          <span class="label label-default"><%= tag.category %></span>
        <% end %>

            <br>

            <%= link_to "User's Page", user_path(post.user)%> | 
          <span class>
            <%= link_to("Show", post) + " |" if policy(post).show? %>
            <%= link_to("Edit", edit_post_path(post)) + " |" if policy(post).edit? %>
            <%= link_to("Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete?" }) if policy(post).destroy? %> 
          </span>

      </div> <!-- panel-body div -->

    </div> <!-- panel div -->

  </div> <!-- context div -->
</div> <!-- end of row -->


<% end %>