<div class="jumbotron">
  <h1>Welcome to Seen-It!</h1>
  <h4>Seen It is your one stop shop for looking at technical interview questions for newly minted programmers. Not only can you find questions that have been asked, but you can create your own! As you're scrolling through the many questions, if you see one that you've been asked on an interview, click the "Seen It" link. The questions with the most "Seen Its" are those that have been asked the most on interviews, and you should therefore brush up on them. And don't forget to check out the discussions that happen on each question by looking at their comments. You can also edit and delete questions that you've posted.</h4>
</div>

<div class="page-header">

  <h2> Interview Questions </h2>

</div>

<% @posts.each do |post| %>

<div class="row">  <!-- row -->

  <div class="votes">

    <%= link_to image_tag("http://i.imgur.com/WE61y1y.png?1"), like_post_path(post), method: :put %>

  </div> <!-- votes div -->

  <div class ="context">

    <div class="panel panel-default">

      <div class="panel-heading">
        <a href="<%= post.link %>" target="_blank"><%= post.name %></a>
      </div>

      <div class="panel-body">

        <p><%= raw post.content %></p>
     
        <span class="tag-pad glyphicon glyphicon-tags"></span>

        <% post.tags.each do |tag| %>
          <span class="label label-default"><%= tag.category %></span>
        <% end %>

            <br>

            <%= link_to "User's Page", user_path(post.user)%> | 
          <span class>
            <%= link_to("Show", post) + " |" if policy(post).show? %>
            <%= link_to("Edit", edit_post_path(post)) + " |" if policy(post).edit? %>
            <%= link_to("Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete?" }) if policy(post).destroy? %> 
          </span>

      </div> <!-- panel-body div -->

    </div> <!-- panel div -->

  </div> <!-- context div -->
  </div> <!-- end of row -->


<% end %>