<div class="page-header">
  <h1> All Questions </h1>
</div>

<%= link_to "Post New Question", new_post_path, class: "btn btn-success" %>

<% @posts.each do |post| %>
<div class="post">
  <strong><%= post.name %></strong>
    <p><%= raw post.content %></p>

  <div class="meta">
     <%=  link_to "User's Page", user_path(post.user)%><br />
    <%= link_to time_ago_in_words(post.created_at) + " ago ", post %> |
    <span class="admin">
      <%= link_to("Show", post) if policy(post).show? %> |
      <%= link_to("Edit", edit_post_path(post)) if policy(post).edit? %> | 
      <%= link_to("Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete"}) if policy(post).destroy? %> 
    </span>
 
    <div class="votes">
       <%= link_to "Seen it", like_post_path(post), method: :put %>
     <%#<%= link_to "Downvote", dislike_post_path(post), method: :put %> 
    </div>

  

  </div>
</div>
<% end %>