<div class="jumbotron">
  <h1>Welcome to Seen-It!</h1>
  <h4>Reddit for technical interview questions</h4>
  <img src="assets/equation.png" alt="math is fun">
</div>

<div class="page-header">

  <h2> Interview Questions </h2>

</div>

<% @posts.each do |post| %>

<div class="row">  <!-- row -->

  <div class="votes">

    <%= link_to image_tag("http://i.imgur.com/WE61y1y.png?1"), like_post_path(post), method: :put %>

  </div> <!-- votes div -->

  <div class ="context">

    <div class="panel panel-default">

      <div class="panel-heading">
        <a href="<%= post.link %>" target="_blank"><%= post.name %></a>
      </div>

      <div class="panel-body">

        <p><%= raw post.content %></p>
     
        <span class="tag-pad glyphicon glyphicon-tags"></span>

        <% post.tags.each do |tag| %>
          <span class="label label-default"><%= tag.category %></span>
        <% end %>

            <br>

            <%= link_to "User's Page", user_path(post.user)%> | 
          <span class>
            <%= link_to("Show", post) + " |" if policy(post).show? %>
            <%= link_to("Edit", edit_post_path(post)) + " |" if policy(post).edit? %>
            <%= link_to("Delete", post, method: :delete, data: { confirm: "Are you sure you want to delete?" }) if policy(post).destroy? %> 
          </span>

      </div> <!-- panel-body div -->

    </div> <!-- panel div -->

  </div> <!-- context div -->
  </div> <!-- end of row -->


<% end %>