<!DOCTYPE html>
<html>
<head>
  <title>Seen-It</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<!-- top navbar -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav navbar-right nav pull-left">
					<li><%= link_to "all posts", posts_path %></li>
					<li><%= link_to 'about', about_path %></li>
				</div>
				<div class="hmenu nav navbar-right nav pull-right">
					<%= render 'devise/menu/login_items' %>
				</div>	
			</div>
		</div>
	</div>

	<!-- bottom navbar -->
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="#" class="brand"> interview questions</a></li>
					<li><%= link_to "all posts", posts_path %></li>
					<li><%= link_to 'about', about_path %></li>
				</ul>	
			</div>
		</div>
	</div>

	<div class="container">
    <p class="alert"><%= alert %></p>
		<p class="notice"><%= notice %></p>
<%= yield %>
	</div>

</body>
</html>
