<!DOCTYPE html>
<html>
<head>
  <title>InterviewLive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="hmenu nav navbar-right nav pull-right">
					<%= render 'devise/menu/login_items' %>
				</div>	
			</div>
		</div>
	</div>	
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li><a href="#" class="brand"> interview questions</a></li>
					<li><%= link_to "all posts", posts_path %></li>
					<li><%= link_to 'about', about_path %></li>
				</ul>	
			</div>
		</div>
	</div>	
	<div class="container">
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>

	

<%= yield %>
	</div>

</body>
</html>
