<!DOCTYPE html>
<html>
<head>
  <title>InterviewLive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
			<div class="container">
			<a href="#" class="brand"> interview questions</a>
			<ul class="nav">
				<li><%= link_to "all posts", posts_path %></li>
				<li><%= link_to 'about', about_path %></li>	
			</div>
		</div>
	</div>	
	<div class="container">
		<p class="notice"><%= notice %></p>
    	<p class="alert"><%= alert %></p>


<%= yield %>
	</div>

</body>
</html>
