<!DOCTYPE html>
<html>
<head>
  <title>Seen-It</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<!-- top navbar -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<div class="nav navbar-right nav pull-left">
					<li><%= link_to "all questions", posts_path %></li>
					<li><%= link_to 'about', about_path %></li>
				</div>
				<div class="hmenu nav navbar-right nav pull-right">
					<%= render 'devise/menu/login_items' %>
				</div>	
			</div>
		</div>
	</div>

	<div class="container">
    <p class="alert"><%= alert %></p>
		<p class="notice"><%= notice %></p>
<%= yield %>
	</div>

</body>
</html>
